@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #eeeceb;
}

footer {
  position: absolute;
  width: 100%;
 bottom: 0;
  background:rgb(37 99 235 / var(--tw-bg-opacity, 1));
  color: #fff;
}

footer .footer-content {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
}

footer .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .logo-details {
  font-size: 30px;
  color: #fff;
}

footer .media-icons {
  display: flex;
}

footer .media-icons a {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fdfdfd;


  text-decoration: none;
  transition: all 0.3s ease;
}

footer .media-icons a:hover {
  background: #411f9a;
  color: #fff;

}

footer .bottom-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
  border-top: none; /* Removed the line */
  text-align: center;
}

footer .bottom-details .bottom_text {
  font-size: 14px;
  color: #fff;
}

footer .bottom-details a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s;
}

footer .bottom-details a:hover {
  opacity: 1;
  text-decoration: underline;
}

@media (max-width: 700px) {
  footer .top-section {
    flex-direction: column;
    text-align: center;
  }
  footer .media-icons {
    margin-top: 10px;
  }
}


.buttons{
justify-content: center;
display: flex;
gap: 10px;
margin: auto;
position: relative;
top: 200px;
max-width: 800px;

}